<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="{{ STATIC_URL }}vendor/jquery-2.0.3.min.js"></script>
    <script>
        $(function()
        {
            $('button#json_submit').on('click', function(){
                $.getJSON("{{ STATIC_URL }}imagen_prueba_base64.json", function(data) {
                    $.ajax({
                        url: '/api/v1/photo/',
                        type: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        data: JSON.stringify(data),
                        dataType: 'json', // esto indica que la respuesta vendrá en formato json
                        async: false,
                        success: function (response) {
                            new_element = response;
                        },
                        error: function (response) {
                            var j = response;
                        }
                    });
                });
            });
        });

    </script>
</head>
<body>
       <form action="/api/v1/photo/" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <input type="file" name="img">
           <input type="text" name="title">
           <input type="hidden" name="user" value="/api/v1/user/1/">
           <input type="hidden" name="category" value="/api/v1/category/1/">
           <input type="submit" value="crear">
       </form>

       <button id="json_submit">Crear desde JSON</button>
</body>
</html>